POSTGRES_USER=db_admin
POSTGRES_PASSWORD=passwort
POSTGRES_DB=it-market

AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin_passwort

ADZUNA_APP_ID=hier_ID_eintragen
ADZUNA_APP_KEY=hier_Key_eintragen

KAFKA_BOOTSTRAP=kafka:9094
