# Datenbank-Konfiguration (Postgres)
POSTGRES_USER=airflow_user
POSTGRES_PASSWORD=dein_sicheres_passwort
POSTGRES_DB=airflow
DB_HOST=localhost
DB_PORT=5432

# Airflow-Zugang (UI)
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin_passwort

# Adzuna API (eigene KEys eintragen
ADZUNA_APP_ID=deine_id_hier
ADZUNA_APP_KEY=dein_key_hier

# Kafka-Konfiguration
KAFKA_BOOTSTRAP=localhost:9092
